{% extends 'index.html' %}
{% load static %}


{% block busqueda %}
{% endblock busqueda %}

{% block contenido %}
{% endblock contenido %}


{%block detalles%}
<div class="container">
    <div class="jumbotron">
    <div class="col-lg-12">
        <h1 class="font-weight-light title">Limites de Reparación y Servicios IMX</h1>
        <p class="card-text1">Equipos mojados, Equipos Rotos o dañados, Equipos viejos: Consultar con coordinador antes de ofrecer algún servicio al cliente.</p>
    </div>
    <div class="row align-items-center my-5">
      <div class="col-lg-12">
        <table class="table table-hover">
          <thead>
        <tr>
          <th scope="col">Servicios IMX</th>
          <th scope="col">Laptop <i class="fas fa-laptop"></i></th>
          <th scope="col">Escritorio <i class="fas fa-desktop"></i></th>
          <th scope="col">MacBook <i class="fab fa-apple"></i></th>
          <th scope="col">Imac <i class="fab fa-apple"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-warning">
          <th scope="row">Reparación de pantalla TOUCH</th>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
        </tr>
        <tr class="table-warning">
          <th scope="row">Cambio de pantallas con TOUCH</th>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
        </tr>
        <tr class="table-success">
          <th scope="row">Cambio de pantalla sin TOUCH con número de parte</th>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr class="table-warning">
          <th scope="row">Cambio de pantalla sin TOUCH sin número de parte</th>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
        </tr>
        <tr class="table-warning">
          <th scope="row">Cambio o reparación de tarjeta madre</th>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
        </tr>
        <tr class="table-warning">
          <th scope="row">Reparación de Jack de carga</th>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
        </tr>
        <tr class="table-warning">
          <th scope="row">Cambio de Jack de carga soldado</th>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
        </tr>
        <tr class="table-success">
          <th scope="row">(2) Cambio de Jack de carga con número de parte</th>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr class="table-warning">
          <th scope="row">(2) Piezas internas sin número de parte</th>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
        </tr>
        <tr class="table-success">
          <th scope="row">(2) Piezas internas con número de parte</th>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
          <td><i class="fas fa-check"></i></td>
        </tr>
        <tr class="table-warning">
          <th scope="row">Mantenimiento interno físico a tipo Tablet</th>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
        </tr>
        <tr class="table-warning">
          <th scope="row">Apertura de equipo con garantía por reparación</th>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
        </tr>
        <tr class="table-warning">
          <th scope="row">Reballing</th>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
        </tr>
        <tr class="table-warning">
          <th scope="row">Reparación Fisica Tablet y Celulares</th>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
        </tr>

        <tr class="table-warning">
          <th scope="row">(1) Recuperación de información</th>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
        </tr>
        <tr class="table-warning">
          <th scope="row">(1) Reparación o apertura de iMac delgadas 21" o 27"</th>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
        </tr>
        <tr class="table-warning">
          <th scope="row">Cargador Asus sin información medidas puntas</th>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
        </tr>
        <tr class="table-warning">
          <th scope="row">Casse equipos, carcasas o armazon</th>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
        </tr>
        <tr class="table-warning">
          <th scope="row">Reparación SURFACE, Accesorios</th>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
        </tr>
        <tr class="table-warning">
          <th scope="row">Licencias a la mano, sin instalación</th>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
          <td><i class="fas fa-times"></i></td>
        </tr>


      </tbody>
    </table>

    </div>


</div>
{%endblock detalles%}
